@import url("preloader.css");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    transition: 1s;
    margin-left: -1px;
    margin-right: 1px;
    margin-top: -20px;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 1);
    overflow-x: hidden;
    touch-action: manipulation;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

main {
    width: 100%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    height: 1900px;
    margin-top: 100px;
}

.mainEbat {
    width: clamp(700px, 99%, 1200px);
}

.bodyBlack {
    background: #17191a;
}

::-webkit-scrollbar {
    background: rgba(184, 183, 183, 0.521);
}

::-webkit-scrollbar-thumb {
    background: rgba(37, 37, 37, 0.582);
}

ul {
    list-style-type: none;
}

@media screen and (max-device-width: 500px) {
    main {
        margin-top: 34%;
        height: 3700px;
    }

    .mainEbat {
        width: 950px;
    }
}

@media screen and (max-device-width: 800px) and (min-device-width: 500px) {
    main {
        margin-top: 20%;
        height: 1800px;
    }

    .mainEbat {
        width: 900px;
    }
}

@media screen and (max-device-width: 1300px) and (min-device-width: 800px) {
    .mainEbat {
        width: 900px;
    }

    main {
        margin-top: 10%;
        height: 1700px;
    }
}