@import url("header2.css");

main {
    margin: 0;
    height: 100%;
}

body {
    touch-action: manipulation;
}

.calculator {
    width: 400px;
    height: 620px;
    margin-top: 200px;
    margin-left: 100px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(59, 59, 59),
        0 0 10px white,
        inset 0 0 30px rgb(255, 255, 255);
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calcBackground {
    width: 400px;
    height: 620px;
    border-radius: 30px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    margin-top: -92px;
}

.calcBackground div {
    width: 800px;
    height: 800px;
    background: linear-gradient(90deg, #babb73, #f5984d, #f57a7a);
    -webkit-animation: backgroundCalc 3s linear infinite;
    animation: backgroundCalc 3s linear infinite;
    margin-left: -140px;
    margin-top: -90px;
}

@-webkit-keyframes backgroundCalc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);

    }
}

@keyframes backgroundCalc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);

    }
}

.inputCalc {
    width: 100%;
    height: 70px;
    margin-top: 20px;
    outline: none;
    font-size: 30px;
    z-index: 2;
    border: none;
    background: rgba(255, 255, 255, 0.336);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: rgb(236, 229, 216);
    padding-left: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

.calcNumers {
    width: 100%;
    height: 514px;
    text-decoration: none;
    padding: 0;
    border-radius: 5px;
    border-radius: 15px;
    z-index: 2;
}

.calcNum,
.calcNumAction {
    display: inline-block;
    width: 80px;
    margin-top: 13px;
    margin-left: 13px;
    height: 80px;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.171);
    transition: 0.4s;
}

.calcNum:hover,
.calcNumAction:hover {
    background: rgba(255, 255, 255, 0.822);
    color: rgb(109, 109, 109);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transition: 0.4s;
}

.calcNum p,
.calcNumAction p {
    font-size: 30px;
    margin-top: 20px;
}

.historyList,
.historylistBlack {
    overflow: auto;
    padding: 0;
    display: block;
    position: relative;
    height: 600px;
    width: 600px;
    margin-left: 700px;
    margin-top: -600px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.253);
    background: white;
}

.historylistBlack {
    padding-top: 10px;
    padding-left: 20px;
    background: rgb(65, 65, 65);
    color: white;
}

.historyList li {
    margin-left: 20px;
    padding-top: 10px;
    font-size: 18px;
}

@media screen and (max-device-width: 500px) {
    .calculator {
        width: 870px;
        height: 1350px;
        margin-left: 45px;
    }

    .calcNum,
    .calcNumAction {
        width: 180px;
        height: 180px;
        margin-top: 40px;
        margin-left: 27px;
    }

    .historyList,
    .historylistBlack {
        margin-left: 196px;
        margin-top: 50px;
        width: 800px;
        height: 1200px;
        margin-left: 80px;
    }

    .historyList li,
    .historylistBlack li {
        font-size: 50px;
    }

    .calcBackground {
        width: 870px;
        height: 1350px;
        margin-top: -183px;
    }

    .calcBackground div {
        height: 1700px;
        width: 1700px;
        margin-top: -160px;
        margin-left: -350px;
    }

    .calcNum p,
    .calcNumAction p {
        margin-top: 45px;
        font-size: 70px;
    }

    .inputCalc {
        height: 160px;
        font-size: 90px;
    }

    .mainEbat {
        height: 3000px;
    }

    main {
        height: 3500px;
    }
}

@media screen and (max-device-width: 800px) and (min-device-width: 500px) {
    .calculator {
        margin-left: 300px;
        margin-top: 100px;
    }

    .historyList,
    .historylistBlack {
        margin-left: 196px;
        margin-top: 50px;
        width: 600px;
    }

    .historyList li,
    .historylistBlack li {
        font-size: 30px;
    }

}

@media screen and (max-device-width: 1300px) and (min-device-width: 800px) {
    .calculator {
        margin-left: 90px;
    }

    .historyList,
    .historylistBlack {
        margin-left: 530px;
        width: 400px;
    }

    .historyList li,
    .historylistBlack li {
        font-size: 20px;
    }
}